body {
  background: rgb(26, 188, 156);
  background: -moz-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}
