body {
  background: -moz-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  min-height: 100vh;
  margin: 0;
  color: #fff;
}
main {
  height: calc(100vh - 100px);
}
table td,
table th {
  padding: 4px 8px;
}
input[type="checkbox"] {
  cursor: pointer;
}
.content {
  position: relative;
  background-color: #00000012;
  padding: 20px;
  border-radius: 10px;
}
.navbar {
  background-color: #00000012;
}
